* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}

body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}

#all-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#question-btn {
  font-family: cursive;
  font-weight: 600;
  height: 7vh;
  width: 25vw;
  border-radius: 15em;
  background: yellow;
  border: 0.15em solid cadetblue;
  box-shadow: 0px 5px 5px 1px blue;
  cursor: pointer;
}

#question-btn:hover {
  transform: scale(2px);
  background: orange;
}

#question-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#question-holder {
  display: none;
  font-size: 1.3em;
  margin: 5vh;
  width: 80%;
  justify-content: center;
  text-align: center;
}