* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}

body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
}

#all-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;

  /*justify-content: center;
  justify-content: flex-end;
  padding-bottom: 15vh;*/
}

#title-holder {
  /* background: linear-gradient(to right, #F761A1 , #8C1BAB); */
  background: linear-gradient(to right, #C0E2F0, #49B6FF);
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: cursive;

      /* NEW BELOW */
  /* background-image: linear-gradient(to right, #C0E2F0, #49B6FF);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700; */
}

#title {
  font-size: 1.6em;
  font-weight: 700;
}

#question-btn {
  font-family: cursive;
  font-weight: 600;
  height: 10vh;
  width: 25vw;
  border-radius: 15em;
  /* background: linear-gradient(to right, #F761A1 , #8C1BAB); */
  background: linear-gradient(to right, #C0E2F0, #49B6FF);
  border: none;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  bottom: 5vh;
}

#question-btn:hover {
  transform: scale(2px);
}

#question-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

    /* NEW BELOW - ALL Q-WRAPPER, IF REMOVE, DELETE FROM HTML TOO */

.question-wrapper {
  background-image: linear-gradient(to right, #C0E2F0, #49B6FF);
  -webkit-background-clip: text;
  color: transparent;
}

#question-holder {
  display: none;
  font-size: 1.2rem;
  margin: 5vh auto;
  width: 90%;
  justify-content: center;
  text-align: center;
  line-height: 2;
  font-weight: 600;
}